/* Navigation Bar */
.navbar {
  background-image: linear-gradient(to bottom, #f4f7f7, #ddf3f2, #c6eeeb, #afeae2, #97e5d8);
  box-shadow: 0px 0px 1px;
}

div {
  color: #00989B;
}

h1, h2, h3, h4, h5, h6{
  color: #023C40;
}

.link {
  color: #00989B;
}

.linkA {
  color: #023C40;
}

.link:hover, .linkA:hover {
  color: #023C40;
  text-decoration: none;
}

.profile {
  height: 100%;
  background-image: linear-gradient(to bottom, #f9e0a1, #dbe5a7, #bfe7b5, #a6e7c8, #97e5db); 
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.quote {
  background-image: linear-gradient(to bottom, #f9e0a1, #dbe5a7, #bfe7b5, #a6e7c8, #97e5db); 
  border-radius: 10px;
  padding: 20px;
  color: #F49F0A;
}

.button {
  color: white;
  text-decoration: none;
}
.button:hover{
  color: white;
  text-decoration: none;
}